header {
    background-image: url(https://cdn.pixabay.com/photo/2020/05/13/05/32/concept-5165836_1280.jpg);
}

#hero-section {
    background-image: url("https://cdn.pixabay.com/photo/2016/08/24/17/04/landscape-1617449_1280.png");
    height: 40rem;
}